doctype
html(lange='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title LookStocks
        meta(name='description', content='LookStocks')
        meta(name='author', content='Doan Thieu')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        // build:css /styles/main.min.css
        link(rel='stylesheet', href='/styles/main.css')
        // endbuild

    body
        header.header
            h1.h1
                a(href='/') LookStocks

        main.main
            .chart-wrapper
                .stock-chart#stock-chart
                .toggle
                    button.toggler(type='button')
                        svg(viewBox='0 0 10 4', xmlns='http://www.w3.org/2000/svg', style='width:40%;vertical-align:middle;')
                            g(fill='none', fill-rule='evenodd')
                                path(d='M-5-8h20v20H-5z')
                                path(fill='#FFF', d='M0 0h10v1H0zM0 3h10v1H0z')

            .menu
                .menu-title
                    h2.h2 Manage stocks

                form.stock-form
                    span.stock-form__info(name='info')
                    input.stock-form__input(name='input', type='text', placeholder='Enter stock symbol (e.g. AAPL)')
                    input.stock-form__submit(name='submit', type='submit', value='Add')

                .stock-table

    footer.footer
        span.footer__note 2017. Made by #[a.footer__link(href='https://twitter.com/lethieu') lethieu]. Using #[a.footer__link(href='https://www.quandl.com' Quandl) Quandl], #[a.footer__link(href='http://www.highcharts.com' Highcharts) Highcharts].

    script(src='/socket.io/socket.io.js')
    script(src='https://code.highcharts.com/stock/highstock.js')
    script(src='https://code.highcharts.com/modules/no-data-to-display.js')
    // build:js /scripts/app.min.js
    script(src='/scripts/app.js')
    // endbuild