doctype
html(lange='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title LookStocks
        meta(name='description', content='LookStocks')
        meta(name='author', content='Doan Thieu')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        link(rel='stylesheet', href='/styles/main.css')

    body
        header.header
            h1.h1
                a(href='/') LookStocks

        main.main
            .chart-wrapper
                .stock-chart#stock-chart
                .toggle
                    button.toggler(type='button')

            .menu
                .menu-title
                    h2.h2 Manage stocks
    
                form.stock-form
                    span.stock-form__info(name='info')
                    input.stock-form__input(name='input', type='text', placeholder='Enter stock symbol')
                    input.stock-form__submit(name='submit', type='submit', value='Add')

                .stock-table

    footer.footer
        span.footer__note 2017. Made by #[a.footer__link(href='https://twitter.com/lethieu') lethieu]. Using #[a.footer__link(href='https://www.quandl.com' Quandl) Quandl], #[a.footer__link(href='http://www.highcharts.com' Highcharts) Highcharts].

    script(src='https://code.highcharts.com/stock/highstock.js')
    script(src='/scripts/main.js')